.star{   font-family:  fantasy ; font-size: xx-large ;   }
 
.fontnormal{ font-family:  monospace; font-size:  small;}
.fgreat{font-family: serif; font-size:  small    ;}
.fmax{font-family: sans-serif; font-size:  inherit ;}
.p2{font-family:  initial; font-size: small ;text-align: justify;}




 .body{ background-image: url(resources/1.jpeg); background-size: 120% 300%;} 
 .background{ background-color: skyblue; }
 .background2{ background-color: bisque ; }
.body2{ background-image: url(resources/2.jpg); background-size: 120% 300%;} 




.b1 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 100% 180%;}
.b2 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 120% 800%;}
.b3 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 120% 300%;}
.b4 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 120% 300%;}
.b5 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 120% 300%;}
.b6 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 120% 300%;}
.b7 {
      background: url("#{resource['pictures/1m.jpg']}") ; background-size: 120% 300%;}
 

